# Configuración del Servidor
PORT=3001
NODE_ENV=development

# Configuración de Base de Datos
DB_HOST=database
DB_PORT=5432
DB_NAME=ferreteria_alessandro_db
DB_USER=postgres
DB_PASSWORD=clave123

# Configuración de JWT
JWT_SECRET=ferreteria_alessandro_secret_key_2025_cambiar_en_produccion
JWT_EXPIRES_IN=24h

# Configuración de Bcrypt
BCRYPT_SALT_ROUNDS=10
